<h1>Foo#index_erb</h1>
<p>Find me in app/views/foo/index_erb.html.erb</p>

<%= form_for :test do |f| %>
  <div class="row"></div>
<% end %>

<div id="example" data-controller="example">
  <a href="#" data-reflex="click->Example#create">Go!</a>
</div>